{% extends 'base.html.twig' %}

{% block title %}Acceuil!{% endblock %}

{% block body %}
<div class="jumbotron">
        <h1 class="display-3">SA Entreprise</h1>
        <p >L’entreprise SA Entreprise a été fondée en 1985, dynamique, née d'une véritable passion pour la conception et la
                réalisation de sites web dynamiques .</p>
        <hr class="my-4">
        <p class="lead">Venez decouvrir les fonctionnalités de ce site.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/blog/new" role="button">Poursuivre</a>
        </p>
 </div>
 {% endblock %}